{{#book}}
<div class="book col-md-offset-3">
    <div class="image col-md-2">
        <img class="book-cover"src="{{portrait_url}}" alt="" />
    </div>
    <div class="info" "col-md-4">
        <p class='text-right'>
            <a href="/edit">
            <button class="btn" name="edit">Edit</button>
            </a>
            <a href="/delete">
             <button class="btn" name="delete">Delete</button>
            </a>
        </p>
        <h2> {{first_name}} {{last_name}}</h2><br>
        <p>
        {{bio}}
    </p><br>

    </div>

</div>
<br>
<br>
<br>

{{/book}}
