
<div class="main-entry">
    <div class="col-md-6">
        <a href="/authors"><img class="authors"
            src="../images/bilbo.jpg"/>

            <!-- src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTJm41n-WeuiB38kuATJFIWFXsQDs3OdpA9xY8vr-cIcwUM0ILF" alt="" /> -->
        </a>
        <h2 class="text-center">AUTHORS</h2>


    </div>
    <div class="col-md-6" >
        <a href="/books"><img id="burn" class="books"
            src="../images/fire.png" alt="" />
        </a>
        <h2 class="text-center">BOOKS</h2>
        <p class="text-center">
            get'em while they're hot!
        </p>
    </div>

</div>













</div>
