<div class="container">


    <div class="left-side col-md-1">
        <div class="new-book panel panel-default col-md-1">
            <div class="panel-body text-center">
                <a href="/books/new">NEW BOOK</a>
            </div>
        </div>
        <div class="new-author panel panel-default col-md-1">
            <div class="panel-body text-center">
                <a href="/authors/new">NEW AUTHOR</a>
            </div>
        </div>
    </div>

    <div class="container-fluid create ">


        <form class="col-md-7 " action="/books/new" method="POST">
            <div class="form-group">
                <label for="">Title</label>
                <input type="text" name="title" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <input id="bio" type="textarea" name="description" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Cover URL</label>
                <input type="text" name="cover_url" value="" class="form-control">
            </div>
            <a href="/books">
                <button type="button" class="btn btn-default">CANCEL</button>
            </a>
            <button type="submit" class="btn btn-default">SUBMIT</button>

        </form>
    </div>
</div>
