<div class="container">


    <div class="left-side col-md-1">
        <div class="new-book panel panel-default col-md-1">
            <a href="/books"><img class="sidePanelImage"src="https://rjlouise.files.wordpress.com/2010/03/books.jpg" alt="" /></a>
            <div class="panel-body text-center">
                <a href="/books/new">NEW BOOK</a>
            </div>
        </div>
        <div class="new-author panel panel-default col-md-1">
            <a href="/authors"><img class="sidePanelImage" src="http://cdn.shopify.com/s/files/1/0080/8372/products/tattly_julia_rothman_typewriter_web_design_01_grande.jpg?v=1334946154" alt="" /></a>
            <div class="panel-body text-center">
                <a href="/authors/new">NEW AUTHOR</a>
            </div>
        </div>
    </div>

    <div class="container-fluid create ">


        <form class="col-md-7 " action="/books/new" method="POST">
            <div class="form-group">
                <label for="">Title</label>
                <input type="text" name="title" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <textarea id="bio" type="textarea" name="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="">Cover URL</label>
                <input type="text" name="cover_url" value="" class="form-control">
            </div>
            <a href="/books">
                <button type="button" class="btn btn-default">CANCEL</button>
            </a>
            <button type="submit" class="btn btn-default">SUBMIT</button>

        </form>
    </div>
</div>
