body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.logo {
    width:125px;
    height:125px;
}
.page-header{
    display: flex;
}
.main-entry{
    display: flex;
}
.authors {
    width:100%;
}
.books {
    width:100%;
}
.book-cover {
    width:125px;
    height:200px;
}
